# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#

# Binary
bin/*

# Allowlist for docs
!docs/**

# vim files
.*.swp
.*.swo

